[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
discord-components = "*"
youtube-dl = "*"
requests = "*"
python-dotenv = "*"
pynacl = "*"

[dev-packages]

[requires]
python_version = "3.9"
